/*
Theme Name: VW Book Store
Theme URI: https://www.vwthemes.com/themes/free-wordpress-book-theme/
Author: VW Themes
Author URI: https://www.vwthemes.com/
Description: VW Book store is a feature-rich, flexible, robust and reliable WordPress theme for book stores, eBook sites, writers, magazines, journalists, editors, authors, publishers, modern online library  and online book sellers. The theme can very well serve libraries, reading clubs, online movie, online courses music and game selling sites. Built on Bootstrap framework, it is extremely easy to use. It is readily responsive, LMS, cross-browser compatible, RTL Language Support and translation ready. Its user-friendly interface of both frontend and backend will give a great experience to both your customers and you. It has multiple options to change the layout of the website. Banners and sliders are provided to further enhance its look. With a great scope of customization, you can change its colour, background, images and several other elements. The VW Bookstore theme is sure to give you good SEO results. It is lightweight leading to speedy loading. With social media icons, your content, posts and website can be shared on various networking sites. These icons can also be used to let users follow you there. This book store theme can handle large traffic without hampering its functionality. It is purposefully made clean and secure resulting in a bug-free site. Use this theme to establish an online book hub for reading and literature lovers. Demo: https://www.vwthemes.net/vw-book-store-pro/
Tested up to: 5.5.1
Requires PHP: 7.2.14
Version: 0.6.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: vw-book-store
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, theme-options, post-formats, translation-ready, threaded-comments, rtl-language-support, blog, education, e-commerce

VW Book Store WordPress Theme has been created by VW Themes(vwthemes.com), 2018.
VW Book Store WordPress Theme is released under the terms of GNU GPL
*/

/* Basic Style */

*{
  margin:0;
  padding:0;
  outline:none;
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word; 
  word-wrap:break-word;
  position:relative;
  background: #fff;
  font-size: 15px; 
  color: #919191;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}
img{ 
  margin:0; 
  padding:0; 
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:10px 0;
}
p{ 
  margin:0 0 15px; 
  padding:0;
  font-size:14px; 
  line-height: 1.7;
}
a{ 
  text-decoration:none; 
  color:#75b64a;
}
a:hover{ 
  text-decoration:none; 
  color:#333;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus,
select:focus,
.toggle-nav button:focus, .search-box button:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
  text-decoration:none !important;
} 
.serach_inner input.search-field:focus, .serach_inner input.search-submit:focus, button.close:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
  text-decoration:none !important;
}
.close:focus, .close:hover {
  color: #fff;
}
ul{ 
  margin:0 0 0 15px; 
  padding:0;
}

:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.clear{ 
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
.middle-align{ 
  margin:0 auto; 
  padding:20px 0 20px;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h3{
  background: url(images/pin.png) no-repeat scroll 0 0px;
  padding-left: 40px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: left; 
  margin-right:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  border:1px solid #bbb;
  padding:5px; 
}
.alignright, 
img.alignright { 
  display: inline; 
  float: right; 
  border:1px solid #bbb; 
  padding:5px;
  margin-bottom:10px;
  margin-left:25px;
}
.aligncenter, 
img.aligncenter {
 clear: both; 
 display: block; 
 margin-left: auto; 
 margin-right: auto; 
 margin-top:0; 
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-left:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
input[type="text"],
input[type="email"],
input[type="phno"], 
input[type="password"], 
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"] {
  text-align:center;
  text-transform:uppercase;
  font-size:18px;
  padding:7px 30px; 
  background:#75b64a;
  font-weight:bold;
  color:#fff;
  border: none;
}

/* ---------------Top Bar-------------------- */
.top-bar {
  background: #1a1616;
  color: #fff;
  padding: 10px 0;
}
.top-bar i {
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
}
.top-bar a {
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
}
.top-bar a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.top-bar .custom-social-icons {
  text-align: right;
}
.top-bar .custom-social-icons i {
  color: #fff;
  margin-right: 15px;
}
.top-bar .custom-social-icons i:hover{
  color: #f06845;
}
.top-bar h3.custom_title {
    display: none;
}

/* --------------------------search bar---------------------------- */
.related.products h2 {
  text-align: left;
}
.search-bar {
  background: #75b64a;
  padding: 10px 0;
}
.search-bar form.woocommerce-product-search {
  background: #fff;
  padding: 5px;
}
.search-bar input[type="search"] {
  font-size: 15px;
  width: 91%;
  padding: 10px;
  color: #000;
  border:none;
}
.search-bar input[type="search"]::placeholder{
  color: #000;
}
.search-bar button[type="submit"]{
  padding: 10px 25px;
  background: url(images/search.png) no-repeat scroll 14px #f06845;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}
button.product-btn {
  width: 100%;
  border: none;
  background: #fff;
  padding: 14px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #75b64a;
}
.product-btn i {
  margin-left: 20px;
}
.product-cat {
  background: #fff;
  position: absolute;
  width: 255px;
  z-index: 999;
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.product-cat i {
  float: right;
  font-size: 10px;
  margin-top: 4px;
  color: #3f3f3f;
}
.product-cat li a {
  color: #3f3f3f;
}
.product-cat li {
  padding: 10px 0;
  border-bottom: solid 1px #efefef;
  margin: 0 20px;
}
.cart_icon {
  text-align: center;
  border-left: solid 1px #e1e1e1;
}
.cart_icon i {
  color: #fff;
  font-size: 50px;
}
span.cart-value {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  background: #f06845;
  font-size: 15px;
  border-radius: 50%;
  width: 25px;
}
li.cart_box {
  list-style: none;
}

/* --------------------------LOGO---------------------------- */
.logo {
  padding: 10px;
}
.logo h1 a, .logo p.site-title a {
  font-size: 30px;
  font-weight: bold;
  color: #75b64a;
}
.logo h1, .logo p.site-title{
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.logo p.site-title {
  margin: 0;
  line-height: 1;
  padding: 5px 0px;
}
p.site-description {
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;  
  font-size: 13px;
  margin-bottom: 0;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
  text-align: left;
}
ul.list_nav {
  display: block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a{
  display: block;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 230px;
  z-index: 9999;
  top: 80%;
  border-top: 4px solid #75b64a;
  border-bottom: 4px solid #75b64a;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 10%;
}
.main-navigation ul ul a{
  display: block;
  color: #090909;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 8px 10px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  border-bottom: 1px solid #eaeaea;
}
.main-navigation ul.sub-menu a:hover{
  color: #75b64a;
  padding-left: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  left: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  left: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-left: none;
  border-right: none !important;
  padding: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-menu{
  padding: 15px 0px;
}
.page-template-custom-home-page .main-navigation .current_page_item > a,
.page-template-custom-home-page .main-navigation .current-menu-item > a{
  color: #75b64a;
}
/*--------------- SUPERFISH MENU ---------------------------*/
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.toggle-nav, a.closebtn{
  display: none;
}
/*-----------------Search pop up----------------*/
.modal-content{
  background: transparent;
  border: 0;
}
.modal-dialog{
  max-width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: all;
}
.modal-body{
  height: 100%;
  padding: 0;
}
.modal{
  background-color: rgba(27, 27, 27, 0.8);
}
.search-box button {
  background: transparent;
  border: 0;
}
.close {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  right: 0;
  text-align: right;
  margin-right: 28px;
  font-size: 35px;
  color: #fff;
  opacity: 1;
}
.serach_inner label {
  width: 80% !important;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.serach_inner form.search-form {
 display: table;
 padding: 0;
 border-radius: 0;
 border-bottom: solid 1px #999; 
 margin: 0 auto;
 max-width: 700px;
 width: 100%;
}
.serach_inner input.search-submit {
  padding: 10px 25px;
  background: url(images/search.png) no-repeat scroll 0 8px;
  font-size: 13px;
  text-align: center;
  float: right;
  text-indent: -9999px;
  border: none;
  margin-top: 6px;
}
.serach_inner input.search-field {
  border: none;
}
button.search-submit {
  border: 0;
  background: transparent;
}
input.search-field {
  border: 1px solid;
  padding: 5px;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999
}
.search-box i {
  color: #f06845;
  cursor: pointer;
  padding: 38px 0px;
}

/* Headings */
section h2{
  font-weight:bold; 
  text-align:center; 
  margin:0 0 45px;
  padding:0;
  text-transform:uppercase;
}
section h3{
  font-weight:bold; 
  text-align:center;
  margin:30px 0 0 0;
  text-transform:uppercase;
}
section h4{
  color:#000; 
  font-weight:bold;
  font-size:18px;
}
section h5{
  color:#000; 
  font-weight:bold;
  font-size:24px;
  margin:0 0 10px 0;
  padding:0;
}
.text-center{
  text-align: center!important;
}

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  background-image: none;
  font-size: 15px;
  color: #fff;
  background: #f06845;
  padding: 15px 20px;
}
.carousel-control-prev, .carousel-control-next{
  opacity: unset !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
  left: 25%;
}
#slider .inner_carousel h1 {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 800;
  padding: 0;
  text-transform: uppercase;
}
#slider .inner_carousel h1 a{
  color: #fff;
}
#slider .inner_carousel p {
  margin-bottom: 0;
}
#slider .inner_carousel {
  color: #fff;
}
.more-btn a:hover {
  background: #75b64a;
}
.more-btn a {
  background: #f06845;
  color: #fff;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
}
.more-btn{
  margin: 25px 0;
}
/* --------- Book Store ------- */
#book-store {
  text-align: center;
  padding: 3% 0;
}
#book-store h2 {
  text-align: left;
  color: #3f3f3f;
  border-bottom: solid 1px #e1e1e1;
  margin-top: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 1.75rem;
}
#book-store h2.woocommerce-loop-product__title{
  border-bottom: none;
}
/*----------Sticky Header------*/
.header-fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #dadadc;
  z-index: 999999;
}

/*----------- PRELOADER ----------*/
#preloader  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  height: 100%;
}
#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* Footer Section */
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 20px;
  display: none;
  color: #fff !important;
  padding: 10px;
  background: #f06845;
}
.scrollup.left i{
  left: 10px;
}
.scrollup.center i{
  left: 50%;
  right: 50%;
}
#footer a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
#footer .tagcloud a{
  border: solid 1px #fff;
  color:#fff;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#footer .tagcloud a:hover{
  background: #75b64a;
  color: #fff;
}
#footer li a:hover {
  color: #75b64a;
}
#footer ins span,
#footer .tagcloud a {
  color: #fff;
}
#footer .widget {
  padding: 15px 0;
}
#footer input[type="submit"]{
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px;
  width: 100%;
}
#footer label{
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #fff;
  padding: 10px;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
#footer table,
#footer th,
#footer td{
  border: 1px solid #fff;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #fff;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
#footer li a {
  color: #fff;
  font-size: 15px;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  color: #fff;
  text-align: left;
  background: #1a1616;
}
#footer h3{
  color: #75b64a;
  font-size: 30px;
  padding:0 0 17px 0;
  letter-spacing: 1px;
  font-weight: bold;
}
#footer p{
  font-size:17px;
}
.navigate  ul{
  list-style: none;
}
.copyright a {
  color: #fff;
}
.copyright p{
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
}
#footer-2{
  background:#75b64a ;
  text-align:center;
  padding:15px 0;
}
#footer ul.cart_list li a, #footer ul.product_list_widget li a , #footer ul.cart_list li .star-rating, #footer ul.product_list_widget li .star-rating{
  margin-bottom: 5px;
}
#footer .widget_price_filter .ui-slider .ui-slider-range, #footer .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #f06845;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
#footer .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #f06845;
  font-weight: bold;
  color: #fff;
  border: none;
  margin-top: 10px;
}
#footer .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
#footer form.woocommerce-product-search{
  border: none;
}
#footer li.woocommerce-mini-cart-item.mini_cart_item{
  line-height: 25px;
  margin-top: 10px;
  padding: 0 0 0 2em !important;
}
#footer ul.product_list_widget li {
  line-height: 25px;
  margin-top: 10px;
}
#footer .widget_rating_filter ul li {
  line-height: 25px;
  margin-top: 10px;
}
#gallery-1 .gallery-item{
  margin-top: 0;
  margin-bottom: 10px;
}
dt.gallery-icon.portrait {
  margin-left: 5px;
  margin-bottom: 0;
  margin-top: 0;
}
#gallery-1 img{
  border:none;
}

/* --------- Blog Page ------- */
#our-services iframe {
  width: 100%;
}
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
}
#our-services {
  margin-top: 0;
}
.post-main-box {
  border: 1px solid #e1e1e1;
  margin-top: 25px;
  padding: 15px 10px;
  box-shadow: 0px 15px 10px -15px #999;
}
.post-main-box h2 {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
}
.post-main-box h2 a, h2.section-title a {
  font-size: 20px;
  color: #f06845;
  margin-top: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
.new-text p,
#our-services p {
  color: #6c6c6c;
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
  font-weight: 300;
  text-align: justify;
}
.post-info {
  color: #919191;
  font-size: 14px;
  border-top: 1px solid;
  padding: 5px 0;
  border-bottom: 1px solid;
}
.post-info span {
  margin-right: 1%;
}
.blogbutton-small {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 12px;
  background: #75b64a;
}
.blogbutton-small:hover{
  background: #f06845;
  color: #fff;
}
.post-info hr {
  width: 10%;
  border-top: solid 2px #c9c9c9;
  margin-bottom: 0;
}
.entry-content a,
#sidebar .textwidget a,
#footer .textwidget a,
.comment-body p a{
  color: #f06845;
  text-decoration: underline;
}
.tags {
  margin-top: 10px;
}
.tags a{
  text-decoration: none!important;
  font-weight: 400;
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.single-post p{
  padding-top: 10px;
}
.entry-date a, .entry-author a{
  color: #919191;
}
.post-info i{
  margin-right: 10px;
}
.single-post .post-info{
  padding: 5px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  text-align: left;
}
.new-text {
  margin-bottom: 20px;
}
.new-text .content-bttn {
  margin-top: 20px;
}
.post-main-box .content-bttn{
  margin: 20px 0;
  display: inline-block;
}
.related-post {
  clear: both;
}
.related-post h3 {
  padding: 15px 0px 15px;
}
.related-post .post-main-box{
  margin-top: 0; 
}
.related-post h3.section-title {
  padding: 10px 0px 5px;
}
.related-post .new-text p, #our-services .related-post p{
  margin-top: 0; 
}
.related-post .content-bttn {
  margin: 20px 0px;
  display: inline-block;
}
.single-post .related-post p{
  padding-top: 0;
}
.nav-previous a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: left;
  background: #222222;
}
.nav-next a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: right;
  background: #222222;
}
.nav-previous a:hover, .nav-next a:hover {
  background: #75b64a;
  color: #fff;
  transition-duration: 0.5s;
}
.nav-links {
    margin: 25px 0px;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: left;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-right:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding:5px 15px;
}

/* Comments BOX */
#comments ol.children img {
  width: 30px;
}
#comments ol {
  list-style: none;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:25px 0;
  margin:0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background: #75b64a;
  color: #fff;
  padding: 12px 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#75b64a;
  padding:5px 15px;
}  
#comments a.comment-reply-link:hover{
  background:#ddd;
  color: #000;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments ol li {
  width: 100%;
  list-style: none;
  margin: 0 0 20px !important;
  padding: 20px !important;
  background: #fff;
  display: inline-block;
  border: solid 1px #f0f0f0;
}  
.content-vw #comments ul{
  margin:0 0 0 40px;
}
#comments .comment-author{
  width:100%;
}
#comments .comment-metadata{
  padding:1% 0 0 0;
}
#comments .comment-content{
  margin-left:7%;
}
#comments p {
  width:100%;
  margin:0 0 10px;
  padding: 0;
}
.entry-audio audio{
  width: 100%;
}
/*----------single-post-comments---------*/
#comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: left;
}
.comment-meta.commentmetadata {
  float: right;
  width: 50%;
  text-align: right;
}
#comments .comment-body p {
  float: left;
}
.comment-body{
  margin-bottom: 10px;
}

/*---------- Sidebar -----------*/
#sidebar td#prev a {
  color: #6c6c6c;
}
#sidebar caption {
  font-weight: bold;
  color: #6c6c6c;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #6c6c6c;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #6c6c6c;
}
#sidebar select {
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #6c6c6c;
  background: transparent;
}
#sidebar form{
  text-align: center;
}
#sidebar h3 {
  font-size: 20px ;
  display: table;
  color: #f06845 ;
  font-weight: 700 ;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 0px 10px ;
  margin: -28px auto 28px auto ;
}
#sidebar input[type="search"] {
  padding:10px 10px;
  font-size:15px;
  margin-bottom: 10px;
  color:#6c6c6c;
  border: solid 1px #e1e1e1;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar input[type="submit"]{
  background: #75b64a;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 5px 5px 0 0 #f06845;
  width: 100%;
}
#sidebar .widget {
  padding: 15px;
  border: 1px solid #e1e1e1;
  margin-top: 30px;
  box-shadow: 0px 15px 10px -15px #999;
}
#sidebar .widget p{
  margin-bottom: 0;
}
#sidebar ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 17px !important;
}
#sidebar ul li{
  color: #6f6f6f;
  font-size: 15px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 43px;
}
#sidebar ul li a {
  color: #6c6c6c;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
}
#sidebar .tagcloud a{
  border: solid 1px #e1e1e1;
  color:#6c6c6c;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#sidebar .tagcloud a:hover{
  background:#75b64a;
  color: #fff;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:left;
  width:50%;
  margin: 5% 0 0 0;
}
.single-post .nav-previous,
.single-post .nav-next{
  float:left;
  width:50%;
  margin: 1% 0 0 0;
}
.nav-next{
  text-align:right;
  font-size: 18px;
}
.nav-previous{
  text-align:left;
  font-size: 18px;
}
#sidebar .custom-social-icons i:hover, #footer .custom-social-icons i:hover{
  background: #f06845;
  color: #fff;
}
#sidebar .custom-social-icons i, #footer .custom-social-icons i {
  background: #75b64a;
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 1.5;
  color: #fff;
}
#sidebar ul.product_list_widget li{
  line-height: 25px;
  margin-top: 10px;
}
#sidebar .widget_shopping_cart .cart_list li a.remove, #sidebar.widget_shopping_cart .cart_list li a.remove {
  position: absolute;
  top: 0px;
  left: 0;
}
#sidebar .widget_price_filter .ui-slider .ui-slider-range, #sidebar .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #f06845;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#sidebar ul.cart_list li a, #sidebar ul.product_list_widget li a, #sidebar ul.cart_list li .star-rating, #sidebar ul.product_list_widget li .star-rating {
  margin-bottom: 5px;
}
#sidebar .woocommerce-product-search button{
  font-size: 15px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #f06845;
  font-weight: bold;
  color: #fff;
  border: none;
}
#sidebar .woocommerce-product-search input[type="search"]{
  border: 1px solid #ddd;
}
#sidebar form.woocommerce-product-search{
  border: none;
}
/* Page */
.error404,
.error404 p {
  text-align: center !important;
}
.error-btn a {
  background: #75b64a;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
.error-btn a:hover{
  background: #f06845;
}
.error-btn {
  margin: 25px 0;
}
.title-box h1,
h1.entry-title {
  color: #000;
  clear: both;
  font-size: 40px;
}
.content-vw p{
  text-align:justify;
  font-size: 16px; 
  margin:0 0 8px 0;
}
.content-vw hr{
  border:none;
  border-bottom:2px solid #7e7e7e;
  margin:35px 0; 
  clear:both;
}
.content-vw h1{
  font-size: 35px;
  font-weight:bold;
}
.content-vw h2{
  font-size:32px; 
  font-weight:normal;
  margin:0;
  padding:0; 
  color:#000;
  margin:0 0 25px; 
}
.content-vw h3{
  font-size:30px; 
  font-weight:normal;
  margin:0;
  padding:0; 
  color:#000;
  margin:0 0 25px; 
}
.content-vw h4{
  font-size:20px; 
  font-weight:bold;
  margin:0;
  padding:0; 
  color:#333;
  margin:0 0 25px;
}
.content-vw h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0; 
  font-weight:bold;
  line-height:normal;
}
.content-vw h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0; 
  font-weight:bold;
  line-height:normal;
}
.content-vw ul{
  margin:0 0 0 10px;
  padding:10px 0 0; 
  font-size:16px;
}
.content-vw ol{
  margin:0 0 0 15px;
  padding:10px 0 0 0; 
  font-size:16px;
  counter-reset: myCounter;
}
.content-vw ol li ol li{
  margin:0 0 20px 0;
  padding:0 0 0 35px;
}
.content-vw ol li{
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
.read-moresec{
  margin:2% 0;
}

/* Pagination */
.pagination {
  clear:both;position:relative;font-size:14px; /* Pagination text size */
  line-height:13px;
  float:right; /* Pagination float direction */
  font-weight:bold;width:100%;
}
 
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 5px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff;
  background: #75b64a;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
  color:#fff;
  background: #000 /* Pagination background on hover */
} 
.pagination .current {
  padding: 10px 15px;
  background: #000;
  color: #fff;
  font-weight: bold;
}
.content-vw .pagination ul{
  margin:0;
  clear:both;
}
.content-vw .pagination ul li{
  margin:0;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.post-navigation .post-title { 
  font-size: 20px; 
  font-size: 1.75rem; 
  line-height: 1.25; 
}

/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
}
.single-post .nav-previous a,
.single-post .nav-next a{
  color: #000;
  background: transparent;
}
.single-post .nav-previous a:hover,
.single-post .nav-next a:hover {
  color: #75b64a;
  background: transparent;
}
.nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
.nav-previous {
  width: 50%;
  float: left;
  text-align: left;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.post-navigation span.meta-nav {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
  padding: 20px;
  color: #000;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}

/* reset screen-reader-text */
.post-navigation .current .screen-reader-text {
  position: static !important;
}
.post-navigation .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 0.7368421053em 0 -0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  right: 54px;
}
/*------------- About us widgets --------------*/
#footer .more-button, #sidebar .more-button {
  margin: 20px 0px 10px 0px;
}
#footer a.custom_read_more, #sidebar a.custom_read_more {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 12px;
  background: #75b64a;
}
#footer p.custom_author, #sidebar p.custom_author {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-top: 0;
}
#footer p.custom_designation, #sidebar p.custom_designation {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding-top: 0;
}
#sidebar a.custom_read_more:hover{
  background: #f06845;
  color: #fff;
}
#footer a.custom_read_more:hover {
  background: #f06845;
  color: #fff;
}
.custom-about-us h3.custom_title {
  text-align: left;
}
.custom-about-us {
  text-align: center;
}
/*------------- Contact us widgets --------------*/
.custom_details {
  font-size: 15px;
  font-weight: bold;
}
#sidebar .custom-contact-us p, #footer .custom-contact-us p{
  padding-top: 0;
}
#sidebar .custom-contact-us p{
  margin-bottom: 10px;
}
.custom-social-icons input[type="text"], .custom-social-icons input[type="email"], .custom-social-icons textarea {
  margin: 0;
  background: transparent;
}
form.wpcf7-form {
  margin-top: 20px;
}
#sidebar .custom-contact-us form {
  text-align: left;
}
#sidebar .custom-contact-us label{
  width: 100%;
}
#sidebar .custom-contact-us input[type="submit"]{
  width: 100%;
}
/*------------------- Woocommerce --------------*/
.woocommerce ul.products li.product .star-rating {
  color: #feb313;
}
.woocommerce ul.product_list_widget li img{
  width: 80px;
}
.products li:hover a.add_to_cart_button{
  display: block !important;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-28%,-50%);
}
.woocommerce ul.products li.product img:hover{
  opacity: 0.5;
}
.woocommerce ul.products{
  margin: 0;
}
.woocommerce ul.products li.product .price del{
  font-size: 15px;
}
.woocommerce ul.products li.product a img{
  margin-bottom: 0;
}
a.add_to_cart_button { 
  padding: 15px !important;
  display: none !important;
}
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 13px;
  text-transform: uppercase;
}
.woocommerce span.onsale{
  background: #f06845;
  margin: 0 !important;
  border-radius: 0px !important;
  padding: 0px 15px !important;
  letter-spacing: 1px;
}
.products li {
  border: solid 1px #e1e1e1;
  padding: 10px !important;
  text-align: left;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #3f3f3f;
  font-weight: 600;
  font-size: 16px !important;
  text-align: left;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #75b64a;
  color: #fff;
  border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #f06845;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 5px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .col2-set .col-1 {
   max-width: 100%;
}
.woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #75b64a;
  padding: 12px;
  margin-bottom: 10px;
  border-left: solid 5px #f06845;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
span.woocommerce-input-wrapper,
.woocommerce label {
  width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 10px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-account .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce div.product .product_title{
  font-size: 30px;
}
.woocommerce .star-rating span, .woocommerce p.stars a{
  color: #ffd400;
}
.woocommerce div.product .woocommerce-product-rating{
  margin-bottom: 0px;
}
.woocommerce-Reviews #comments p{
  float: none;
}
.woocommerce #comments ol li{
  padding: 0px !important;
}
.woocommerce #reviews #comments h2{
  font-size: 25px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
  width: 50px;
}
.select2-container--default .select2-selection--single , input#billing_phone{
  padding: 10px 0px;
  border-radius: 0px;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
h3#order_review_heading{
  margin-top: 10px;
}
.admin-bar .home-page-header{
  margin-top: 32px;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce-page form .password-input{
  width: 100%;
}
.woocommerce label {
  width: 100%;
}
.woocommerce nav.woocommerce-pagination ul li a {
  display: block;
  margin: 2px 2px 2px 0;
  padding: 12px 15px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #75b64a;
  transition: background .15s ease-in-out;
  font-weight: bold;
}
.woocommerce nav.woocommerce-pagination ul li a:hover{
  background: #000;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
  padding: 12px 15px;
  background: #000;
  color: #fff;
  font-weight: normal;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
  border: none;
  float: none;
  overflow: unset;
}
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 20px;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width:720px) {
  .search-bar input[type="search"]{
    width: 80%;
  }
  .cart_icon{
    border: none;
  }
  .product-cat{
    top: 56px;
  }
  .products li{
    width: 100% !important;
  }
  .top-bar,
  .logo,
  .search-box{
    text-align:center;
  }
  #slider .carousel-caption {
    top: 40%;
  }
  #slider .carousel-control-prev-icon,
  #slider .carousel-control-next-icon{
    padding: 10px 15px;
    background: transparent;
  }
  #slider .inner_carousel h1,
  #slider .inner_carousel p{
    display:none;
  }
  .middle-align {
    padding: 20px 20px 20px;
  }
  .cart_icon {
    margin-top: 10px;
  }
  .toggle-nav{
    top: 10px !important;
  }
  .search-box i{
    margin: 7px 0 !important;
  }
  .top-bar .custom-social-icons {
    text-align: center;
    margin-top: 10px;
  }
  .top-bar i {
    margin-bottom: 10px;
  }
  .search-bar form.woocommerce-product-search {
    border-top: 1px solid #75b64a;
  }
}
@media screen and (max-width: 1000px){
  .search-box{
    text-align: left;
  }
  .search-box i {
    cursor: pointer;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid;
  }
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px dotted #000;
    border-bottom: 1px solid #000;
  }
  .toggle-nav {
    position: relative;
    cursor: pointer;
    top: 15px;
    text-align: right;
    display: block;
  }
  .toggle-nav i {
    font-size: 25px;
    color: #f06845;
    border: 2px solid;
    padding: 4px 7px;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 10px;
    font-size: 36px;
    margin-left: 50px;
    display: block !important;
    color: #000;
    border:none;
    background: transparent;
    margin-top: 0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: right;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: right;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    border-right: none;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-left:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-left: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-left: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: left;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 60px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    left: 0px;
    width: 0px;
  }
  .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 2px 10px;
  }
  .admin-bar .home-page-header{
    margin-top: 46px;
  }
  .related-post .post-main-box {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px){
  .toggle-nav{
    top: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1024px){
  .search-bar input[type="search"]{
    width: 89%;
  }
  .main-navigation a{
    padding: 8px 10px;
  }
  .products li:hover a.add_to_cart_button {
    left: 30%;
    transform: translate(-20%,-50%);
  }
  .product-cat{
    width: 210px;
  }
}
@media screen and (max-width: 768px) and (min-width: 720px){
  span.cart-value{
    bottom: 0px;
    right: -8px;
  }
  .products li:hover a.add_to_cart_button{
    left: 40%;
    transform: translate(-20%,-50%);
  }
  .search-bar input[type="search"]{
    width: 85%;
  }
  .top-bar .custom-social-icons{
    text-align: center;
    padding-top: 20px;
  }
  #slider .carousel-caption{
    left: 20%;
    right: 20%;
  }
  #slider .inner_carousel p{
    display: none;
  }
  .cart_icon{
    border: none;
  }
  .product-cat{
    width: 210px;
  }
}